{:meta/version 1
 :preferred-workflow :now

 ;; The app will ignore those directories or files.
 ;; E.g. "/archived" "/test.md"
 :hidden []

 ;; Specify the date on which the week starts.
 ;; Goes from 0 to 6 (Monday to Sunday), default to 6
 :start-of-week 0
 ;; When creating the new journal page, the app will use your template content here.
 ;; Example for Markdown users: "## [[Work]]\n###\n## [[Family]]\n###\n
 ;; Example for Org mode users: "** [[Work]]\n***\n** [[Family]]\n***\n
 :default-templates
 {:journals ""}
 :ui/enable-tooltip? true
 :ui/show-brackets? true
 :feature/enable-block-timestamps? false
 ;; Whether to show command doc on hover
 :ui/show-command-doc? true
 :ui/hide-block-bullet-path? false
 ;; Whether to show empty bullets for non-document mode (the default mode)
 :ui/show-empty-bullets? false
 :outliner/block-title-collapse-enabled? true

 ;; The app will show those queries in today's journal page,
 ;; the "NOW" query asks the tasks which need to be finished "now",
 ;; the "NEXT" query asks the future tasks.
 :default-queries
 {:journals
  [{:title "🔨 NOW"
    :query [:find (pull ?h [*])
            :in $ ?start ?today
            :where
            [?h :block/marker ?marker]
            [?h :block/page ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(>= ?d ?start)]
            [(<= ?d ?today)]
            [(contains? #{"NOW" "DOING"} ?marker)]]
    :inputs [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :block/priority "Z")) result))
    :collapsed? false}
   {:title "📅 NEXT"
    :query [:find (pull ?h [*])
            :in $ ?start ?next
            :where
            [?h :block/marker ?marker]
            [?h :block/ref-pages ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(> ?d ?start)]
            [(< ?d ?next)]
            [(contains? #{"NOW" "LATER" "TODO"} ?marker)]]
    :inputs [:today :7d-after]
    :collapsed? false}]}

 ;; Add your own commands to speedup.
 ;; E.g. [["js" "Javascript"]]
 :commands
 []

 ;; Macros replace texts and will make you more productive.
 ;; For example:
 ;; Add this to the macros below:
 ;; {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."}
 ;; input "{{{poem(red,blue)}}}"
 ;; becomes
 ;; Rose is red, violet's blue. Life's ordered: Org assists you.
 :macros {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."
          "progress"
          "[:span [:progress {:value $1 :max $2
                         :style {:width 200
                                 :margin-right 4
                                 :cursor \"default\"}}] [:small \"$1/$2\"]]"}
   :markdown/version 2
   :ref/default-open-blocks-level 3
   :ref/linked-references-collapsed-threshold 50
   :favorites ("Blog" "About" "Weekly" "Articles" "Bookmarks")
   :graph/settings {:journal? false, :builtin-pages? false}
   :publishing/all-pages-public? true
   :editor/logical-outdenting? true
   :feature/enable-timetracking? false
   :feature/enable-journals? true
   :default-home {:page "journals"}
 :zotero/settings-v2 {"default" {:type-id "9395272", :prefer-citekey? false, :attachments-block-text "[[Attachments]]", :zotero-linked-attachment-base-directory "", :notes-block-text "[[Notes]][[Zotero]]", :page-insert-prefix "@", :extra-tags "", :zotero-data-directory ""}}}
