{:meta/version 1

 :preferred-workflow :now
 :preferred-format "Markdown"
 :start-of-week 0
 :ui/show-brackets? true
 :feature/enable-block-timestamps? false
 ;; Whether to show command doc on hover
 :ui/show-command-doc? true
 :ui/hide-block-bullet-path? false
 ;; Whether to show empty bullets for non-document mode (the default mode)
 :ui/show-empty-bullets? false
 :outliner/block-title-collapse-enabled? true
 ;; :custom-css-url "@import url('https://logseq.catppuccin.com/ctp-mocha.css');"
 ;; :custom-css-url "@import url('https://logseq.catppuccin.com/ctp-latte.css');"

 ;; Graph view configuration.
 ;; Example usage:
 :graph/settings
 {:orphan-pages?   true   ; Default value: true
  :builtin-pages?  false  ; Default value: false
  :excluded-pages? false  ; Default value: false
  :journal?        true} ; Default value: false

 ;; Enable flashcards
 :feature/enable-flashcards? false

 ;; The app will show those queries in today's journal page,
 ;; the "NOW" query asks the tasks which need to be finished "now",
 ;; the "NEXT" query asks the future tasks.
 :default-queries
 {:journals
  [{:title "🔨 NOW"
    :query [:find (pull ?h [*])
            :in $ ?start ?today
            :where
            [?h :block/marker ?marker]
            [?h :block/page ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(>= ?d ?start)]
            [(<= ?d ?today)]
            [(contains? #{"NOW" "DOING"} ?marker)]]
    :inputs [:14d :today]
    :result-transform (fn [result]
                        (sort-by (fn [h]
                                   (get h :block/priority "Z")) result))
    :collapsed? false}
   {:title "📅 NEXT"
    :query [:find (pull ?h [*])
            :in $ ?start ?next
            :where
            [?h :block/marker ?marker]
            [?h :block/ref-pages ?p]
            [?p :page/journal? true]
            [?p :page/journal-day ?d]
            [(> ?d ?start)]
            [(< ?d ?next)]
            [(contains? #{"NOW" "LATER" "TODO"} ?marker)]]
    :inputs [:today :7d-after]
    :collapsed? false}]}

 ;; Add your own commands to speedup.
 ;; E.g. [["js" "Javascript"]]
 :commands
 []

 ;; Macros replace texts and will make you more productive.
 ;; For example:
 ;; Add this to the macros below:
 ;; {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."}
 ;; input "{{{poem(red,blue)}}}"
 ;; becomes
 ;; Rose is red, violet's blue. Life's ordered: Org assists you.
 :macros {"poem" "Rose is $1, violet's $2. Life's ordered: Org assists you."
          "progress"
          "[:span [:progress {:value $1 :max $2
                         :style {:width 200
                                 :margin-right 4
                                 :cursor \"default\"}}] [:small \"$1/$2\"]]"}
 :markdown/version 2
 :ref/default-open-blocks-level 4
 :ref/linked-references-collapsed-threshold 50
 :favorites ["blog" "weekly" "articles" "contents" "omnivore" "readwise" "bookmarks"]
 :publishing/all-pages-public? true
 :editor/logical-outdenting? true
 :feature/enable-timetracking? true
 :feature/enable-journals? true
 :default-home {:page "Contents"}
 :zotero/settings-v2 {"default" {:type-id "9395272", :prefer-citekey? false, :attachments-block-text "[[Attachments]]", :zotero-linked-attachment-base-directory "", :notes-block-text "[[Notes]][[Zotero]]", :page-insert-prefix "@", :extra-tags "", :zotero-data-directory ""}}
 :file/name-format :triple-lowbar
 :journal/page-title-format "yyyy-MM-dd"
 :editor/preferred-pasting-file? false
 :feature/enable-whiteboards? false}
