@import url("https://cdn.jsdelivr.net/gh/pengx17/logseq-dev-theme@latest/custom.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@font-face {
  font-family: 'IBM Plex Sans','Genshin',sans-serif;
  font-style: 400;
  font-weight: normal;
  src: url(https://static.wikia.nocookie.net/gensin-impact/images/6/65/Genshin_Impact_Font.woff)
    format("truetype");
}

.genshin {
  font-family: 'IBM Plex Sans', 'Genshin',sans-serif;
}

#journals .journal-item:first-child {
  min-height: fit-content;
}
